<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="cubomania">
    <meta name="author" content="iburlachenko">

    <title>Cubomania</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style	.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <style></style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

       <!-- Page Content -->
    <div class="container-fluid ">

	    <div class="row">
	    	<div class="col-xs-12 text-center">
	            <img class="logo" src="../static/images/logo.png">
	        </div>

	        <div class="col-sm-6 outer ">
				<div class="row">
					<div class="col-xs-12 text-center effects ">
						<a class="cb-btn cb-btn--green effect" href="#" type="arc_demo">Вспышка</a>
						<a class="cb-btn cb-btn--green effect" href="#" type="everloop">Нас не догонят</a>
						<a class="cb-btn cb-btn--green effect" href="#" type="direction_of_arrival_demo">Откуда звук?</a>
						<a class="cb-btn cb-btn--green effect" href="#" type="mic_energy"></a>
					</div>
					<div class="col-xs-12  text-center run">
						<a class="cb-btn cb-btn--red" href="#">Цикл эффектов</a>
					</div>
				</div>
			</div>
	        <div class="col-sm-6 outer ">
				<div class="row">
					<div class="col-xs-12 text-center voice">
						<a class="cb-btn cb-btn--blue" href="#">Услышать ребенка</a>
						{% block play%}{% endblock %}
					</div>
					<div class="col-xs-12 text-center list">
						<a class="cb-btn cb-btn--yellow" href="#">Записать сообщение</a>
						<a class="cb-btn cb-btn--yellow" href="#">Effect 1</a>
						<a class="cb-btn cb-btn--yellow" href="#">Effect 1</a>
						<a class="cb-btn cb-btn--yellow" href="#">Effect 1</a>
						<a class="cb-btn cb-btn--yellow" href="#">Effect 1</a>
					</div>
				</div>
	        </div>
	    </div>
	        
    <!-- /.row -->

	</div>
    <!-- /.container -->
	
    <!-- jQuery Version 1.11.1 -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript">

		$(document).ready(function(){
		    $("a .effect").on("click", function(){
		    	debugger
		        $.ajax({
		        	url: "/ef/",
		        	success: function(result){
	        			//$("#div1").html(result);
	        			console.log()
			    	}
				});
		    });
		});

    </script>

</body>

</html>


